.json-tool {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
}

.tool-container {
    background-color: var(--content-bg);
    border-radius: 12px;
    padding: 30px;
    width: 100%;
}

.output-section pre {
    min-height: 400px;
    width: 100%;
    padding: 20px;
    font-size: 16px;
    background-color: var(--card-bg);
    border-radius: 4px;
    overflow: auto;
}
