.philosophy-container .card h3 {
    color: var(--text-color);
    margin-bottom: 10px;
}

.philosophy-container .card-question {
    font-style: italic;
    color: var(--text-color);
    margin-bottom: 15px;
}
